#- 
#· You can use this file as a ini file to load your credentials and run the authentication
#· command to loggin in your netsuite account, you can add more environments.
#·
#· >$ npm run project:auth <sandbox|production>
#-

#(sandbox environment configuration)
SANDBOX_ACCOUNT_ID=
SANDBOX_AUTH_ID=
SANDBOX_TOKEN_ID=
SANDBOX_TOKEN_SECRET=

#(production environment configuration)
PRODUCTION_ACCOUNT_ID=
PRODUCTION_AUTH_ID=
PRODUCTION_TOKEN_ID=
PRODUCTION_TOKEN_SECRET=